.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.product-image{
  width: 50%;
}

.add-remove{
  text-align: center;
}

.custom-style-demo-table{
  margin: auto;
    width: 90%;
}

.element-rating-count{
  font-weight: lighter;
}
