nav{
  text-align: center;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset;
    border-color: azure;
    background-color: transparent;
    font-size: 150%;
    padding: 1%;

    a{
      margin-right: 1%;
      font-weight: bold;
      font-family: sans-serif;
      text-decoration: none;
      color: #fff;
    }
    a:hover{
      color:rgb(221, 236, 255)
    }
}
