/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url(./assets/istockphoto-1341843473-1024x1024-2.jpg) repeat-y center center;
 }
